 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .alert {
     background-color: #ffe5b4;
     margin-top: 0;
     color: #ff9933;
     padding: 20px;
     margin-bottom: 20px;
     border: 1px solid #ffcc80;
     border-radius: 5px;
 }



 .rowdes {
     text-align: justify;
     width: 100%;
     margin: 20px 0 0 0;
     color: white;
     font-size: 1.1rem;
     height: 30vh;
 }

 .rowpdf {
     border: #ccc solid 3px;
     border-width: 3px 0;
     text-align: justify;
     width: 100%;
     margin: 11px 0;
     color: white;
     font-size: 1.1rem;
 }

 section {
     border: 1px solid #ccc;
     width: 80%;
     height: 100vh;
     display: flex;
     flex-direction: column;
     margin: 0 auto 20px auto;
     border-radius: 10px;
     background-color: #FFA500;
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
 }


 .partone {
     display: flex;
     flex-direction: row;
     height: 60vh;
 }

 .column {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     width: 52%;
     justify-content: space-between;
     text-align: center;
     border: #ccc solid 3px;
     border-width: 0 3px 3px 0;
 }

 .row {
     flex: 1;
     border: #ccc solid 3px;
     border-width: 3px 0;
     text-align: center;
     width: 100%;
     margin: 11px 0;
     color: white;
     font-size: 1.1rem;
     padding: 3px 0;
 }



 .columnthree {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     width: 48%;
     text-align: center;
     border: #ccc solid 3px;
     border-width: 0 3px 3px 0;
     margin: 0px 0 5px 0px;
     height: 60vh;
 }

 .outer {
     width: 15vw;
     margin: 70px auto;
     border: 2px solid black;
     position: relative;
     height: 40vh;
     border-radius: 5px 0 10px 5px;
     z-index: 10;
 }

 .outer::before {
     content: "";
     border: 2px solid black;
     background-color: white;
     width: 100%;
     height: 100%;
     position: absolute;
     box-sizing: border-box;
     right: -35px;
     z-index: -4;
     transition: all 0.5s linear;
 }

 .outer::after {
     content: "";
     width: 100%;
     height: 100%;
     position: absolute;
     box-sizing: border-box;
     background-color: white;
     top: 0;
     right: -10px;
     z-index: -2;
     transition: all 0.5s linear;
 }

 .outer::before {
     content: "";
     position: absolute;
     right: -15px;
     z-index: -3;
 }


 img {
     width: 100%;
     height: 100%;
     display: block;
 }

 .outer:hover::after,
 .outer:hover::before {
     top: 0;
     right: 0;
 }

 .columntwo {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     width: 100%;
     text-align: center;
 }

 .subheaddes {
     text-decoration: underline;
     font-weight: 500;
     font-size: 1.2em;
 }

 .bottondiv {
     display: flex;
     flex-direction: row;
     height: 10vh;
     width: 60vw;
     margin: 0 auto;
     justify-content: space-around;
 }

 button.bottom {
     background-color: #FFA500;
     border-radius: 10px;
 }