/* Style for the alphabet menu */
/* Style for the alphabet menu box */
#alphabet-menu {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #F5F5F5;
    padding: 5px;
    border-radius: 10px;
}

#alphabet-menu a {
    display: inline-block;
    margin: 0 4px;
    font-size: 15px;
    text-decoration: none;
    color: #333;
    background-color: #F5F5F5;
    border: 2px solid #B0C4DE;
    border-radius: 10px;
    padding: 5px 10px;
}

#alphabet-menu a:hover {
    color: #f00;
}


/* Style for the department sidebar */
#department-sidebar {
    float: left;
    width: 29%;
    background-color: #b2b2b2;
    border-right: 1px solid #ddd;
}

#department-sidebar h2 {
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;

}

#department-sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

#department-sidebar li {
    display: block;
    margin-bottom: 10px;
    border-width: 1px 0;
    border-style: solid;
    height: auto;
    font-size: 12px;
}

#department-sidebar li a {
    text-decoration: none;
    color: #333;
    text-align: justify-all;
}

#department-sidebar li a:hover {
    color: #ff8c00;
}

/* Style for the book table */
#book-table {
    margin-left: 30%;
    width: 70%;
    border-collapse: collapse;
}

#book-table th,
#book-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

#book-table th {
    font-weight: bold;
    background-color: #ff8c00;
    color: #fff;
}

#book-table td img {
    max-width: 100px;
}

ul li {
    list-style: none;
    display: inline;
}

a {
    color: #333;
    text-decoration: none;
    text-decoration-line: none;
}

a:hover {
    color: #ff8c00;
}

footer {
    clear: both;
}