 * {
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 }

 body {
 	font-family: Arial, sans-serif;
 }

 header {
 	background-color: #333;
 	color: #fff;
 	padding: 20px;
 	height: 14vh;
 	width: 100vw;
 }

 .logo {
 	float: left;
 	width: 30vw;
 	display: inline;
 	height: 5vh;
 	margin: auto;
 }

 .logo h1 {
 	margin: 0;
 }


 nav {
 	background-color: #333;
 	display: inline;
 	height: 5vh;
 	z-index: 2;
 	margin: auto;
 	color: white;
 }

 .navbar {
 	float: right;
 	margin-top: 10px;
 }

 .navbar ul {
 	list-style: none;
 	margin: 0;
 	padding: 0;
 }

 .navbar li {
 	float: left;
 	margin-left: 20px;
 }


 .nav-item:hover {
 	text-decoration: underline;
 }

 .navbar-collapse {
 	background-color: #535353;
 	/* Replace with your desired background color */
 }



 .slider {
 	width: 100%;
 }

 .slider-item img {
 	width: 100%;
 }






 @media (min-width: 768px) {
 	.row {
 		display: flex;
 		flex-wrap: wrap;
 	}

 	.col-md-6 {
 		flex-basis: 50%;
 		max-width: 50%;
 	}

 	.navbar-collapse {
 		background-color: #333;
 		/* Replace with your desired background color */
 	}
 }

 section {
 	margin-bottom: 50px;
 	width: 100%;
 }

 h2 {
 	margin-top: 0;
 }

 ul {
 	list-style: none;
 	margin: 0;
 	padding: 0;
 }

 li {
 	margin-bottom: 10px;
 }

 #mainbuton {
 	background-color: #333;
 	color: #fff;
 	border: none;
 	padding: 10px 20px;
 	cursor: pointer;
 }

 button:hover {
 	background-color: #666;
 }

 footer {
 	background-color: #333;
 	color: #fff;
 	padding: 20px;
 	text-align: center;
 	position: fixed;
 	bottom: 0;
 	left: 0;
 	width: 100%;
 	height: 7px;
 	/* Height of the footer */
 }