{% extends "libraryhelper/bookdetail.html" %}

{% load static %}
{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/homepage.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'CSS/addtwobook.css' %}">
{% endblock %}
{% block slider %}
<h2>{{message}}</h2>
<nav class="home">
    <ul class="homeul">
        <li class="homeli"><a href="{% url 'home' %}">HOMEPAGE</a></li>
        <li class="homeli"><a href="{% url 'approve' %}">APPROVED</a></li>
        <li class="homeli"><a href="{% url 'overdue' %}">OVERDUE'S</a></li>
        <li class="homeli"><a href="{% url 'defaulters' %}">DEFAULTERS</a></li>
        <li class="homeli"><a href="{% url 'addbook' %}">ADD BOOK</a></li>
        <li class="homeli"><a href="{% url 'addcopy' %}">ADD COPY</a></li>
        {% if admin.isAdmin %}
        <li class="homeli"><a href="{% url 'approvecopylist' %}">UNAPPV COPY</a></li>
        <li class="homeli"><a href="{% url 'approvebooklist' %}">UNAPPV BOOK</a></li>
        <li class="homeli"><a href="{% url 'liberianlist' %}">LIBERIANS</a></li>
        <li class="homeli"><a href="{% url 'addliberian' %}">ADD LIBERIAN</a></li>
        {% endif %}
    </ul>
</nav>
<div class="alert">
    <h2>ADD A COPY</h2>
</div>
{% if lastindex %}
<h3>The last copy is {{lastindex}} add one to the end and continue</h3>
{% endif %}
<form class="book-form" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="hidden" name="available" value="False">
    <button type="submit" name="approve">Request for approval</button>
</form>
{% endblock %}