{% extends "libraryhelper/base.html" %}

{% load static %}
{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/homepage.css' %}">
<link rel="stylesheet" href="{% static 'CSS/reservelist2.css' %}">
{% endblock %}
{% block slider %}
<div class="alert">
    <h2>BOOKS</h2>
</div>
<section>
    <h2>{{message}}</h2>
    {% if booklist.count < 1 %} <p>Book is not available</p> {% endif %}
        {% if booklist %}
        <div class="top">
            <p id="mobile">The list order: Title, Author, Publication, Pdf Avalability,
                Year, Isbn<br>
                <li>Title</li>
                <li>Authors</li>
                <li>Publication</li>
                <li>Pdf</li>
                <li>Year</li>
                <li>Isbn</li>
        </div>
        <div class="bodi">
            {% for book in booklist %}
            <li><a href="{% url 'bookdetail' book.id %}">{{book.booktitle|striptags|truncatechars:15}}</a></li>
            <li><a href="{% url 'bookdetail' book.id %}">{{book.authors|striptags|truncatechars:15}}</a></li>
            <li><a href="{% url 'bookdetail' book.id %}">{{book.booktype}}</a></li>
            <li><a href="{% url 'bookdetail' book.id %}">{{book.pdf_available}}</a></li>
            <li><a href="{% url 'bookdetail' book.id %}">{{book.year}}</a></li>
            <li><a href="{% url 'bookdetail' book.id %}">{{book.isbn}}</a></li>
            {% endfor %}
        </div>
        {% endif%}
</section>
{% endblock %}
<p></p>