<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bookerdetail</title>
</head>

<body>
    <p>Department: <input type="text" list="deptlist" name="dapartment">
        <datalist id="deptlist">
            <option value="Agricultural Engineering">Agricultural Engineering</option>
            <option value="Civil Engineering">Civil Engineering</option>
            <option value="Computer Engineering">Computer Engineering</option>
            <option value="Electrical Electronics Engineering">Electrical Electronics Engineering</option>
            <option value="Industrial and Production Engineering">Industrial and Production Engineering</option>
            <option value="Information and Communication Technology">Information and Communication Technology</option>
            <option value="Mechanical Engineering">Mechanical Engineering</option>
            <option value="Materials and Metallurgical Engineering">Materials and Metallurgical Engineering</option>
            <option value="Mining Engineering">Mining Engineering</option>
        </datalist>
    </P>
</body>

</html>